<section id="footer">
    <div class="container">
        <div class="row text-center text-xs-center text-sm-left text-md-left">
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>Acceso Rapido</h5>
                <ul class="list-unstyled quick-links">
                    <li><a [routerLink]="['home']"><i class="fa fa-angle-double-right"></i>Home</a></li>
                    <li><a [routerLink]="['heroes']"><i class="fa fa-angle-double-right"></i>Heroes</a></li>
                    <li><a [routerLink]="['about']"><i class="fa fa-angle-double-right"></i>About</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- row text-center text-xs-center text-sm-left text-md-left -->